.login{
    margin-top: 15%;
}

/*背景图片*/
#web_bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    z-index: -100;
    zoom: 1;
    background-color: #fff;
    /*背景不重复*/
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    /*居中左对齐*/
    background-position: center 0;

    /*透明度模糊效果*/
    -webkit-filter: blur(5px);
    filter: blur(px);
    /*透明度深度效果*/
    /*filter: alpha(opacity:50);*/
    /*-moz-opacity: 0.5;*/
    /*opacity: 0.5;*/

}
#con_img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    z-index: -100;
    zoom: 1;
    background-color: #fff;
    /*背景不重复*/
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    /*居中左对齐*/
    background-position: center 0;

    /*透明度模糊效果*/
    /*-webkit-filter: blur(5px);*/
    /*filter: blur(px);*/
    /*透明度深度效果*/
    filter: alpha(opacity:50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

#index{
    top: 10%;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    z-index: -1000;
    zoom: 1;
    background-color: #fff;
    /*背景不重复*/
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    /*居中左对齐*/
    background-position: center 0;

    /*透明度模糊效果*/
    /*-webkit-filter: blur(5px);*/
    /*filter: blur(px);*/
    /*透明度深度效果*/
    /*filter: alpha(opacity:50);*/
    /*-moz-opacity: 0.5;*/
    /*opacity: 0.5;*/
}


.list-group-item{
    margin-top: 10%;
    margin-left: 2%;
}
#cl{
    margin-left: 3%;!important;
    margin-top: 5%;!important;
}
.t-list{
    position: absolute;
    top: auto;
    background-color:cadetblue;
    height: 100%;
}

.t-nav{
    color: white;
}
.edit{
    top: 100px;
}


.cover{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:rgba(0,0,0,0.4);
    z-index:999;
}
.model{
    height:15%;
    width:20%;
    background-color:white;
    position:absolute;
    top:30%;
    left:50%;
    z-index:1000;
}



/*index*/
.big-img{
    width: 100%;!important;
    height: 100%;!important;
}