<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'mystyle.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/font-awesome.min.css' %}">
</head>
<body>
<div id="con_img" style='background-image: url("{% static 'chengjian_img/timg.jpg' %}")'></div>
{% include 'teacher_nav.html' %}
<div class="container">
    <div class="row">
        {%for student_obj in student_obj_list%}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{% static "chengjian_img/timg.jpg" %}" alt="...">
                    <div class="caption">
                        <h3>{{ student_obj.name }}</h3>
                        <p><a href="/student/{{ student_obj.pk }}/" style="text-decoration: none;padding-left: 250px">查看详情</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
</body>
</html>