<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Carousel Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    {% load static %}
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'fontawesome/css/font-awesome.min.css' %}">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'mystyle.css' %}">

</head>
<!-- NAVBAR
================================================== -->
<body>
{% if role == "s" %}
    {% include "student_nav.html" %}
{% elif role == "t" %}
    {% include 'teacher_nav.html' %}
{% endif %}



<!-- Marketing messaging and featurettes
  ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div id="con_img" style='background-image: url("{% static 'chengjian_img/timg.jpg' %}")'></div>

<div class="container">
    <!-- Three columns of text below the carousel -->
    <div class="row">

        <div class="col-lg-4">
            <img class="img-circle" src="{% static 'student_page_tag/timg.jpg' %}" alt="Generic placeholder image"
                 width="140" height="140">
            <h2 class="height">身高:{{ sign.height }}CM</h2>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="{% static 'student_page_tag/timg (1).jpg' %}" alt="Generic placeholder image"
                 width="140" height="140">
            <h2 class="weight">体重:{{ sign.weight }}Kg</h2>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="{% static 'student_page_tag/timg (2).jpg' %}" alt="Generic placeholder image"
                 width="140" height="140">
            <h2 class="temperature">体温:{{ sign.temperature }}度</h2>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">这是你的手部图片^_^ &nbsp;<span class="text-muted">See your hand</span></h2>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="{% static 'hand_img/timg (3).jpg' %}"
                 alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">这是你的口部图片^_^ &nbsp;<span class="text-muted">See your mouth</span></h2>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="{% static 'mouth_img/timg (4).jpg' %}"
                 alt="Generic placeholder image">
        </div>
    </div>

    {% if role == "s" %}

            <div class="media" id="homework">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object"
                             src="{% static 'student_page_tag/u=3518659575,180584971&fm=26&gp=0.jpg' %}"
                             alt="...">
                    </a>
                </div>
                <div class="media-body">
                    {% for homwork in homework_obj_list %}
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h2 class="panel-title">家庭作业 <p class="pull-right">截至到:{{ homwork.create_time|date }}</p></h2>
                        </div>
                        <div class="panel-body">
                            <h3>{{ homwork.title }}</h3>
                            <p>{{ homwork.content }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

    {% endif %}
</div>
{% csrf_token %}
<script>
    $(".sign-time").on("click", function () {
        var sign_id = $(this).attr("id");
        $.ajax({
            url: '/student/{{ sid }}/',
            type: "post",
            data: {
                sign_id: sign_id,
                csrfmiddlewaretoken: $('[name = "csrfmiddlewaretoken"]').val()
            },
            success: function (data) {
                $(".time").text(data.time);
                $(".height").text('身高:' + data.height + 'CM');
                $(".weight").text('体重:' + data.weight + 'Kg');
                $(".temperature").text('体温:' + data.temperature + '度');
            }
        })
    })


</script>
{#    <script>#}
{#    function onTopClick() {#}
{#         window.location.hash = "#abc";#}
{#       }#}
{#    </script>#}
{#    <input  type="button" name="Submit" value="提交"  onclick="javascript:onTopClick();" />#}
{##}
{##}
{#    <div id="abc">跳转到的位置</div>#}

</body>
</html>
